
<% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>

    <%= form_with(model: [@project, @project.posts.new]) do |form| %>

        <div>
            <%= form.text_field :title %>
    
            <%= form.hidden_field :user_id, value: current_user.id %>
    
            <%= form.hidden_field :project_id, value: params[:id] %>
    
            <%= form.submit "create thread" %>
        </div>
    
    <% end %>

